<%= render "shared/header"%>


<div class='maypage-header'>
  <ul class='menus'>
    <li class='menu'>支出を1件登録</li>
    <li class='menu'>支出をたくさん登録</li>
    <li class='menu'><%= link_to '一覧表示', { anchor: 'title3' } %></li>
    <li class='menu'><%= link_to '統計', record_path(@records), class:"all-report", method: :get %></li>
  </ul>
</div>

<div class="mypage-main">
  <div class="record-input">
    <div class="input-title">
    ▼支出を１件ずつ登録する
    </div>

    <%= form_with model: @record, local: true do |f| %>
    <%# <%= render 'shared/error_messages', model: f.object %>
    <div class="input-detail">
      <div class="date-content">
        <div class="input-text">
          日付
        </div>
        <%= f.date_field :recorded_at, class:"date-input", id:"record-price", placeholder:"例）3,000", size: "60" %>
      </div>
      <div class="way-content">
        <div class="input-text">
          費目
        </div>
        <%= f.collection_select(:spending_way_id,  SpendingWay.all, :id, :name, {}, {class:"select-box", id:"record-spending-way"}) %>
      </div>
      <div class="pay-content">
        <div class="input-text">
          方法
        </div>
        <%= f.collection_select(:spending_pay_id,  SpendingPay.all, :id, :name, {}, {class:"select-box", id:"record-spending-pay"}) %>
      </div>
      <div class="price-content">
        <div class="input-text">
          金額
        </div>
        <%= f.text_field :price, class:"price-input", id:"record-price", placeholder:"例）3000" %>
      </div>
      <div class="description-content">
        <div class="input-text">
          メモ
        </div>
        <%= f.text_area :description, class:"items-text", id:"record-description", placeholder:"メモ（20文字まで)", maxlength:"40" %>
      </div>
      <%# 保存ボタン %>
      <div class="sell-btn-contents">
        <%= f.submit "保存する" ,class:"sell-btn", id: 'submit-save' %>
        <%# <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
      <%# /保存ボタン %>
    </div>
    <% end %>
  </div>
  <div class="record-multi-input">
    <div class="input-title",id='title3'>
      ▼一度にたくさん保存する
    </div>
  </div>


  <div class="report">
    <div class='report-title'>
      <div >▼</div>
      <div class='report-month'>   
        <%= form_with model: @record, local: true do |f| %>
          <%= raw sprintf(
            f.date_select(
              :recorded_at,
              class:'month-input',
              id:"report-month",
              use_month_numbers: true,
              discard_day:true,
              start_year: (Time.now.year),
              end_year: (Time.now.year - 5),
              date_separator:'%s'),'年') + '月' %>
              <%= f.submit "保存する" %>
        <% end %>
      </div>
      <div>の一覧表示</div>
    </div>

    <table>
      <thead>
        <tr>
          <th class='table-top'>日付</th>
          <th class='table-top'>カテゴリ</th>
          <th class='table-top'>方法</th>
          <th class='table-top'>金額</th>
          <th class='table-top'>メモ</th>
          <th class='table-top'>編集</th>
          <th class='table-top'>削除</th>
        </tr> 
      </thead>
      <tbody>
        <% @records.each do |record| %>
        <tr>
          <td class='report-date'><%= record.recorded_at.strftime('%F') %></td>
          <td class='report-spending_way'><%= record.spending_way.name %></td>
          <td class='report-spending_pay'><%= record.spending_pay.name %></td>
          <td class='report-price'><%= record.price %></td>
          <td class='report-description'><%= record.description %></td>
          <td class='report-edit'><%= link_to '編集', edit_record_path(record), method: :get, class: "#" %></td>
          <td class='report-delete'><%= link_to '削除', record_path(record) , method: :delete, class: "#", data: { confirm: '本当に削除しますか?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<footer>
</footer>