<%= render "shared/second_header" %>

<h1>統計ページ</h1>

<div class="report">
  <%= form_with(url: search_records_path, local: true, method: :get, class: "search-form") do |f| %>
  <%= f.month_field :recorded_at, class: "search-input" %>
  <%= f.submit "表示", class: "search-btn" %>
<% end %> 
</div>

<h2>▼今月の支出状況</h2>
<%= @spending_way_month  %>
<%= pie_chart @spending_way_month,width:'500px' %>

<h2>▼月毎の支出状況(費目ごと)</h2>

<%= form_with(model:@record, method: :get,remote: true) do |f| %>
  <%= f.select :year, options_for_select((2021..Date.today.year).to_a.reverse, params[:year]), prompt: '年を選択してください' %>
  <%= f.submit '検索' %>
<% end %>


<%# <% SpendingWay.where.not(id: 1).each do |spending_way| %>
  <%# <div id="<%= spending_way.name.parameterize-chart"> %> %>
    <%# <% data = spending_way.records.where(recorded_at: @selected_year.beginning_of_year..@selected_year.end_of_year).group_by_month(:recorded_at, format: "%Y年%m月").sum(:price) %> %>
    <%# <% next if data.values.all?(&:zero?) %> %>
    <%# <%= line_chart data, width: '500px', title: spending_way.name %> %>
  <%# </div> %>
<%# <% end %> %> %>


<%# <% SpendingWay.where.not(id: 1).each do |spending_way| %> %>
  <%# <% data = spending_way.records.where(recorded_at: @selected_year.beginning_of_year..@selected_year.end_of_year).group_by_month(:recorded_at, format: "%Y年%m月").sum(:price) %> %>
  <%# <% next if data.values.all?(&:zero?) %> %>
  <%# <%= line_chart data, width: '500px', title: spending_way.name %> %>
<%# <% end %> %>


<% SpendingWay.where.not(id: 1).each do |spending_way| %>
  <% data = spending_way.records.group_by_month(:recorded_at, format: "%Y年%m月").sum(:price) %>
  <% next if data.values.all?(&:zero?) %>
  <%= line_chart data, width: '500px', title: spending_way.name %>
<% end %>


<h2>▼月毎の支出合計の遷移</h2>
<%= line_chart Record.group_by_month(:recorded_at, format: "%Y年%m月").sum(:price),legend:'月毎の支出合計', width:'500px' %>


<footer>
</footer>